<!-- 
  about.ejs
  Matthew Bradley - 301089966
  30 Sept 2021
  
  About Me page
-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  
  <!-- About Me Content -->
  <main id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>About Me</h2>
      <p>Hey there! My name is Matthew Bradley and welcome to the about me section of my portfolio. I was born in Toronto, Canada and this is my third semester at Centennial College.
        Previously, I attended George Brown College for a degree in HVAC/R, which stands for Heating, Ventilation, Air Conditioning & Refrigeration. I also work part time as a butcher at Metro Ontario when not pursuing my degree in software engineering.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img src="/Assets/images/personal_photo.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3>Software developer</h3>
        <p>
          Versatile Software Developer knowledgeable in HTML, JavaScript, Java, C#, COBOL & Python. Adaptable and ready to engage with new tasks head on.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="fas fa-caret-right"></i> <strong>Birthday:</strong> 28 April 1993</li>
              <li><i class="fas fa-caret-right"></i> <strong>Website:</strong> www.matthewbradley.com</li>
              <li><i class="fas fa-caret-right"></i> <strong>Phone:</strong> (+1) 647-628-0410</li>
              <li><i class="fas fa-caret-right"></i> <strong>City:</strong> Toronto, Canada</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="fas fa-caret-right"></i> <strong>Age:</strong> 28</li>
              <li><i class="fas fa-caret-right"></i> <strong>Degree:</strong>Software Engineering & Development</li>
              <li><i class="fas fa-caret-right"></i> <strong>Email:</strong> mjbradley321@gmail.com</li>
              <li><i class="fas fa-caret-right"></i> <strong>Resume:</strong> <a href="/Assets/files/Matthew_Bradley_Resume">PDF Version</a></li>
            </ul>
          </div>
        </div>
        <p>
          Always looking for new challenges to continuously develop in personal and work environments.
          Confident in my ability to adapt, face and overcome challenges, always giving the best possible solution.
          Excellent interpersonal skills, demonstrated by communication with clients, colleagues and <non-technical>
          professionals on a daly basis.
          </non-technical>
        </p>
      </div>
    </div>
  </div>
  </main>
  <!-- End About Me Content -->
  
<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>